<h1>Что тут?</h1>
<ul>
    <li><a href="@Url.Action("Knockout", "Default")">Knockout</a></li>
	<li><a href="@Url.Action("Select2Knockout", "Default")">Select2 Knockout</a></li>
	<li><a href="@Url.Action("Components", "Default")">Components</a></li>
	<li><a href="@Url.Action("FileUploader", "Default")">File uploader</a></li>
	<li><a href="@Url.Action("Sortable", "Default")">Sortable</a></li>
	<li><a href="@Url.Action("Validation", "Default")">Validation</a></li>
</ul>